body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

path {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: currentColor;
}
h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -1.2px;
}
h5{
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
}
p{
  line-height: 32px;
}
img{
  max-width: 100%;
  height: auto;
}
